.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: break-spaces;
}

.truncated-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}