.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: break-spaces;
}

.truncated-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.edit-project-task-window {
    font-size: 12px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
